{% load static %}

{% load bootstrap4 %}
{% load leaflet_tags %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gnss Iot </title>
  {% leaflet_js %}
  {% leaflet_css %}

  <link rel="shortcut icon" type="image/png" href="{% static 'img/global-logo.webp' %}">
  <link rel="stylesheet" href="{% static  'css/materialize.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<body>

  <header>
    {% if not user.is_authenticated %}
    <div class="navbar-fixed">
      <nav class="primary-color">
        <div class="nav-wrapper container ">
          <a class="logo" href=" {% url 'gnss_iot:index' %} ">
            <img src="{% static 'img/global-logo.webp' %}" alt="logo" height="45px" width="45px">
            <span>Gnss IoT</span>
          </a>

          <ul id="nav-mobile" class="right hide-on-med-and-down nav-links ">
            <li><a href="">Home</a></li>
            <li><a href="">Aplicações</a></li>
            <li><a href="">Desenvolvimento</a></li>
            <li><a href="">Sobre</a></li>
            <li><a href=" {% url 'user:login' %}" class="waves-effect waves-light btn format-btn">Entrar</a></li>
            <li><a href="{% url 'user:register' %}" class="waves-effect waves-light btn format-btn">Registrar</a></li>
          </ul>

        </div>
      </nav>

    </div>
    {% endif %}
  </header>

  <main>
    {% block content %}
    {% endblock content %}
  </main>


  <footer class="page-footer primary-color">
    <div class="footer-copyright">
      <div class="container">
        © 2014 Copyright Text
      </div>
    </div>
  </footer>
</body>
</html>