{% load static %}

{% load bootstrap4 %}
{% load leaflet_tags %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gnss Iot </title>

  <link rel="stylesheet" href="{% static  'css/bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">


  {% leaflet_js %}
  {% leaflet_css %}

  
</head>

<body>
  
  {% if not user.is_authenticated %}
  <nav class="shadow-sm">

    <div class="logo">

      <a href=" {% url 'gnss_iot:index' %} ">
        <img src="{% static 'img/global-logo.png' %}" alt="logo" height="65px" width="65px" >
        <span>Gnss IoT</span>
      </a>

    </div>

    <ul class="nav-links">
      <li>
        <a href="">Home</a>
      </li>

      <li>
        <a href="">Aplicações</a>
      </li>

      <li>
        <a href="">Desenvolvimento</a>
      </li>
      <li>
        <a href="">Sobre</a>
      </li>
    </ul>

    <div class="enter-register">
      <a class="nav-link" href=" {% url 'user:login' %} ">Entrar</a>
      <a class="nav-link" href="{% url 'user:register' %}">Registrar </a>
    </div>


  </nav>
  {% endif %}

  <main>
    {% block content %}
    {% endblock content %}
  </main>

  
  <footer>

  </footer>
</body>

</html>