{% load static %}
{# Load the tag library #}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %} 
{% bootstrap_javascript jquery='full' %} 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gnss Iot </title>

    <link rel="stylesheet" href="{% static  'css/bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    

</head>

<body>

{% if not user.is_authenticated %}

<nav class=" navbar navbar-expand-lg navbar-dark nav_style  p-3">

  <div class="container">

    <div class="" >
        <a class="navbar-brand " href= " {% url 'gnss_iot:index' %} ">
            <i class="fas fa-globe-americas"></i>
                    Gnss Iot
         </a>

    </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  {% if user.is_authenticated %}

  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav  ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">{{user.username.title}}<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'user:logout' %} ">Logout<span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>

{% else %}

  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav  ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href= " {% url 'user:login' %} ">Login<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'user:register' %}">Register <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>

  {% endif %}
</div>
</nav>
{% endif %}
    {% block content %}


    {% endblock content %}

</body>

</html>