{% extends 'gnss_iot/base.html' %}

{% block content %}
{% load leaflet_tags %}


<style type="text/css">
    .leaflet-container {
        height: 100%;
    }
</style>



<div id='mapid'>
</div>

<script type="text/javascript">

    const mymap = L.map('mapid').setView([0, 0], 2);
    const attribution =
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

    const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    const tiles = L.tileLayer(tileUrl, { attribution });
    tiles.addTo(mymap);

    // Making a marker with a custom icon
    const marker = L.marker([-15.765940453, -47.872187540]).addTo(mymap);

    var loc = window.location
    var wsStart = 'ws://'

    if (loc.protocol == 'https:') {
        wsStart = 'wss://'
    }

    var endpoint = wsStart + loc.host + loc.pathname

    var socket = new WebSocket(endpoint)
    socket.onmessage = function (e) {
        console.log(e)
        var dados_posicao = JSON.parse(e.data)
        if (dados_posicao != null) {

            var latitude = dados_posicao.coord[0]
            var longitude = dados_posicao.coord[1]

            marker.setLatLng([latitude, longitude]);
            mymap.setView([latitude, longitude], 12);

        }

    }

    socket.onopen = function (e) {
        console.log("open", e)
    }
    socket.onerror = function (e) {
        console.log("erro", e)
    }
    socket.onclose = function (e) {
        console.log("close", e)
    }

</script>

{% endblock content %}


<!-- 
<script>
    // Making a map and tiles
    const mymap = L.map('issMap').setView([0, 0], 1);
    const attribution =
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

    const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    const tiles = L.tileLayer(tileUrl, { attribution });
    tiles.addTo(mymap);

    // Making a marker with a custom icon
    const issIcon = L.icon({
      iconUrl: 'iss200.png',
      iconSize: [50, 32],
      iconAnchor: [25, 16]
    });
    const marker = L.marker([0, 0]).addTo(mymap);

    const api_url = 'https://api.wheretheiss.at/v1/satellites/25544';

    let firstTime = true;

    async function getISS() {
      const response = await fetch(api_url);
      const data = await response.json();
      const { latitude, longitude } = data;

      marker.setLatLng([latitude, longitude]);
      if (firstTime) {
        mymap.setView([latitude, longitude], 2);
        firstTime = false;
      }
      document.getElementById('lat').textContent = latitude.toFixed(2);
      document.getElementById('lon').textContent = longitude.toFixed(2);
    }

    getISS();

    setInterval(getISS, 1000);
  </script> -->