{% extends 'gnss_iot/base.html' %}

{% block content %}

<style>
    #mapid {
        height: 100%;
    }
</style>



<div id='mapid'>
</div>

<script type="text/javascript">

    const mymap = L.map('mapid').setView([-15.765940453, -47.872187540], 10);
    const attribution =
        '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';

    const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    const tiles = L.tileLayer(tileUrl, { attribution });
    tiles.addTo(mymap);

    // Making a marker with a custom icon
    const marker = L.marker([-15.765940453, -47.872187540]).addTo(mymap);

    var loc = window.location
    var wsStart = 'ws://'

    if (loc.protocol == 'https:') {
        wsStart = 'wss://'
    }

    var endpoint = wsStart + loc.host + loc.pathname

    var socket = new WebSocket(endpoint)
    socket.onmessage = function (e) {
        console.log(e)
        var dados_posicao = JSON.parse(e.data)
        if (dados_posicao != null) {

            var latitude = dados_posicao.coord[0]
            var longitude = dados_posicao.coord[1]

            marker.setLatLng([latitude, longitude]);
            mymap.setView([latitude, longitude]);
        }
    }

    setInterval(function () {
        socket.send("Hello")
    });


    socket.onopen = function (e) {

    }
    socket.onerror = function (e) {
        console.log("erro", e)
    }
    socket.onclose = function (e) {
        console.log("close", e)
    }
    
</script>

{% endblock content %}
