{% extends 'gnss_iot/base.html' %}

{% block content %}
{% load leaflet_tags %}


<div id="mapid" class="container" >
    {% leaflet_map "main" %}
</div>
<p id='dado'>oi</p>

<script type = "text/javascript" >


    var loc = window.location
    var wsStart = 'ws://'
    if (loc.protocol == 'https:') {
        wsStart = 'wss://'
    }
    var endpoint = wsStart + loc.host + loc.pathname
    var dados = document.getElementById("dado")

    var socket = new WebSocket(endpoint)
    socket.onmessage = function (e) {
        console.log(e)
        let dados_posicao = JSON.parse(e.data)
        if (dados_posicao != null) {
            dados.innerHTML = dados_posicao.id
        }
    }
    
    socket.onopen = function (e) {
        console.log("open", e)
    }
    socket.onerror = function (e) {
        console.log("erro", e)
    }
    socket.onclose = function (e) {
        console.log("close", e)
    }

    function map_init_basic(map, options) {
        console.log("MAPA", options)
        L.marker([dados_posicao.coord[0], dados_posicao.coord[1]]).addTo(map);

    }


</script>

{% endblock content %}