{% extends 'gnss_iot/base_profile.html' %}

{% block content %}

<div class="container-fluid">
  {% if devices %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Devices</th>
        <th scope="col">Token</th>
      </tr>
    </thead>
    <tbody>
      {% for device in devices %}
      <tr>
        <td> <a href="{% url 'gnss_iot:detail_device' device.id %}"> {{device.name}}</a> </td>
        <td> {{device.token}}</td>
        <td>
          <a class="btn btn-primary" href="{% url 'gnss_iot:delete_device' device.id %}">Delete</a>
          <!--
            <a class="btn btn-primary" href="{% url 'gnss_iot:edit_device' device.id %}">Editar</a>
          -->
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="mx-auto" style="width: 200px;">
    <h1>No Device</h1>
  </div>
  {% endif %}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newDevice" >Novo
    Dispositivo</button>

  <!-- Form new device-->
  <div class="modal fade" id="newDevice" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Novo Dispositivo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'gnss_iot:new_device' %}" class="form-signin">
            <div class="form-group">
              {% csrf_token %}
              <label for="name" class="col-form-label">Nome:</label>
              <input type="text" class="form-control" name="name" id="name" required="required">
            </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" name="submit">Criar Dispositivo</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End Form new device-->
</div>
{% endblock content %}