{% load static %}

{% load bootstrap4 %}
{% load leaflet_tags %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gnss Iot </title>

    <link rel="stylesheet" href="{% static  'css/bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    {% leaflet_js %}
    {% leaflet_css %}

</head>

<body>
    <div>

        <div class="menu shadow-sm">
            <nav class="shadow-sm">


                <div class="enter-register ml-auto">

                    <a class="nav-link" href="{% url 'user:logout' %}">Sair</a>
                </div>


            </nav>
        </div>
    </div>

    <div id='mapid'>
    </div>


    <script type="text/javascript">

        const mymap = L.map('mapid', {
            zoomControl: false
        }).setView([-15.765940453, -47.872187540], 10);
        const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
        const tileUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        const tiles = L.tileLayer(tileUrl, { attribution });

        L.control.zoom({
            position: 'bottomright'
        }).addTo(mymap);

        tiles.addTo(mymap);

        const marker = L.marker([-15.765940453, -47.872187540]).addTo(mymap);

        var loc = window.location
        var wsStart = 'ws://'

        if (loc.protocol == 'https:') {
            wsStart = 'wss://'
        }

        var endpoint = wsStart + loc.host + loc.pathname

        var socket = new WebSocket(endpoint)
        socket.onmessage = function (e) {
            console.log(e)
            var dados_posicao = JSON.parse(e.data)
            if (dados_posicao != null) {

                var latitude = dados_posicao.coord[0]
                var longitude = dados_posicao.coord[1]

                marker.setLatLng([latitude, longitude]);
                mymap.setView([latitude, longitude]);
            }
        }

        setInterval(function () {
            socket.send("Hello")
        });


        socket.onopen = function (e) {

        }
        socket.onerror = function (e) {
            console.log("erro", e)
        }
        socket.onclose = function (e) {
            console.log("close", e)
        }

    </script>
</body>

</html>